[submodule "packages/pg"]
	path = packages/pg
	url = git@bitbucket.org:makielski/pg_botscript.git
[submodule "external_lib/dust"]
	path = external_lib/dust
	url = git@bitbucket.org:makielski/dust.git
